@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2 {
  font-family: var(--font-tilt_prism);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

html {
  overflow-x: hidden;
}

::placeholder {
  text-align: center;
}

/* or, for legacy browsers */

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
